<h1>Ratings</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Rating</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 30%">Rating</th>
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let rating of ratings">
            <td>{{rating.rating}}</td>
            <td style="white-space: nowrap">
                <a routerLink="edit/{{rating.id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteRating(rating.id)" class="btn btn-sm btn-danger btn-delete-rating" [disabled]="rating.isDeleting">
                    <span *ngIf="rating.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!rating.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!ratings">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>