<h1 *ngIf="isAddMode">Add SubscriptionStatus</h1>
<h1 *ngIf="!isAddMode">Edit SubscriptionStatus</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col-5">
            <label>SubscriptionStatus</label>
            <input type="text" formControlName="subscriptionStatus" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.subscriptionStatus.errors }" />
            <div *ngIf="submitted && f.subscriptionStatus.errors" class="invalid-feedback">
                <div *ngIf="f.subscriptionStatus.errors.required">SubscriptionStatus is required</div>
            </div>
        </div>
    </div>
     <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/users" class="btn btn-link">Cancel</a>
    </div>
</form>
